/*custom fonts*/
@font-face { font-family: 'cambo'; src: url(fonts/Cambo-Regular.ttf); }
@font-face { font-family: 'carattere'; src: url(fonts/Carattere-Regular.ttf); }
@font-face { font-family: 'days-one'; src: url(fonts/DaysOne-Regular.ttf); }
@font-face { font-family: 'racing'; src: url(fonts/RacingSansOne-Regular.ttf); }

html, body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
}

.main{
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #fbf9e4;
    overflow-x: hidden;
}

#main-photo{
    position: absolute;
    width: 1920px;
    height: 1080px;
    z-index: 2;
}

/*for the buttons to not be below the other elements*/
#main-photo,
#ellipse,
#left-rectangle,
#logos,
#rect2,
#taho,
#store{
  pointer-events: none;
}

/*Front Page*/
.front{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.text{
    margin: 0;
    padding: 0;
    position: absolute;
}

#ellipse{
    position: absolute;
    z-index: 1;
}

/*PORTFOLIO*/
#title{
    font-family: 'racing';
    font-size: 320px;
    top: 5px;
    left: 7%;
}

/*Vince*/
#cursive{
    font-family: 'carattere';
    color: #5B88B2;
    font-size: 280px;
    font-weight: 350;
    top: 240px;
    right: 170px;
}

/*autobiography*/
#paragraph{
    font-family: 'cambo';
    width: 650px;
    font-size: 20px;
    right: 150px;
    bottom: 50px;
    z-index: 3;
}

#front-button{
    position: absolute;
    top: 500px;
    right: 170px;
    z-index: 5;
}

.buttons{
    color: #122C4F;
    background-color: #fbf9e4;
    font-family: 'racing';
    font-size: 30px;
    width: 250px;
    border: none;
    border-radius: 8px;
    cursor: pointer;

    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.buttons:hover{
    transform: scale(1.05);
    box-shadow: 0 6px 18px rgba(0,0,0,0.25);
}

/*Second Page*/
.skills{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.skills-title{
    position: absolute;
    font-family: 'racing';
    line-height: 80%;
    font-size: 80px;
}

.skills-title.left{
    text-align: left;
    top: 5px;
    left: 80px;
    color: #5b88b2
}

.skills-title.right{
    text-align: right;
    top: 5px;
    right: 80px;
    color: #fbf9e4;
}

#left-rectangle{
    position: absolute;
    top: -80px;
    z-index: 1;
}

#logos{
    position: absolute;
    z-index: 3;
    top: -80px;
    left: -30px;
}

.soft-skills{
    position: absolute;
    bottom: 170px;
    right: 100px;
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: 'days-one';
    font-size: 64px;
    color: #5b88b2;
    text-align: right;
}

#skills-button{
    position: absolute;
    bottom: 50px;
    right: 100px;
}

/*Third Page*/
.prev-work{
    position: relative;
    background-color: #122C4F;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.prevwork-title{
    position: absolute;
    font-family: 'racing';
    font-size: 100px;
    color: #5B88B2;
    top: -30px;
    left: 80px;
}

#rect2{
    position: absolute;
    top: -90px;
    z-index: 1;
}

.projects{
    position: absolute;
    display: flex;
    top: 275px;
    left: 100px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 2;
    gap: 60px;
}

#taho, #store{
    width: 820px;
    height: 461px;
    object-fit: cover;
    display: block;
}

#prevwork-button{
    position: absolute;
    top: 180px;
    left: 80px;
}

.proj-names{
    position: absolute;
    font-family: 'days-one';
    font-size: 60px;
    bottom: 30px;
}

.proj-names.taho{
    left: 400px;
}

.proj-names.store{
    right: 300px;
}

/*Footer*/
.footer{
    margin: 0 auto;
    padding: 10px;
    padding-right: 180px;
    padding-left: 180px;
    font-family: 'cambo';
    color: #5B88B2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}