@font-face { font-family: 'cambo'; src: url(fonts/Cambo-Regular.ttf); }
@font-face { font-family: 'carattere'; src: url(fonts/Carattere-Regular.ttf); }
@font-face { font-family: 'days-one'; src: url(fonts/DaysOne-Regular.ttf); }
@font-face { font-family: 'racing'; src: url(fonts/RacingSansOne-Regular.ttf); }

.main {
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #fbf9e4;
    overflow-x: hidden;
}

#main-photo {
    position: absolute;
    width: 1920px;
    height: 1080px;
    z-index: 2;
}

.front{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.text{
    margin: 0;
    padding: 0;
    position: absolute;
}

#ellipse{
    position: absolute;
    z-index: 1;
}

/*PORTFOLIO*/
#title{
    font-family: 'racing';
    font-size: 320px;
    top: 5px;
    left: 7%;
}

/*Vince*/
#cursive{
    font-family: 'carattere';
    color: #5B88B2;
    font-size: 280px;
    font-weight: 350;
    top: 240px;
    right: 170px;
}

/*autobiography*/
#paragraph{
    font-family: 'cambo';
    width: 650px;
    font-size: 20px;
    right: 150px;
    bottom: 50px;
    z-index: 3;
}

#front-button{
    position: absolute;
    top: 500px;
    right: 170px;
    z-index: 5;
}

.buttons{
    color: #122C4F;
    background-color: #fbf9e4;
    font-family: 'racing';
    font-size: 30px;
    width: 250px;
    border: none;
    border-radius: 8px;
}

